$primary-color: #283c63;
$secondary-color: #f85f73;
$tertiary-color: #FF715B;
$light-color: white;
$gray-color: rgb(218, 218, 218);
$border-radius: 6px;
$shadow: 0 1px 3px rgba(0,0,0,0.5);
$large-font: 24px;
$medium-font: 18px;
$small-font: 14px;
$font: SpaceGrotesk;
$tablet-bp: 768px;
$computer-small-bp: 1024px;