@import '../../../styles/variables.module.scss';

.DepartureInput{
    grid-area: departure-input;
    position: relative;
    width: 100%;
}

.ArrivalInput{
    grid-area: arrival-input;
    position: relative;
    width: 100%;
}

.Label{
    display: block;
    color: $light-color;
    font-size: $medium-font;
    padding: 5px 0;
    font-family: $font;
}

.SearchInput{
    display: block;
    width: calc(100% - 30px);
    height: 46px;
    border-radius: $border-radius;
    border: none;
    padding: 0 15px;
    font-size: $medium-font;
    color: $primary-color;
    box-shadow: $shadow;

    &:focus{
        outline: none;
    }
}

.RecommendationList{
    position: fixed;
    z-index: 1500;
    margin: 0;
    padding: 0;
    background: $light-color;
    // height: 240px;
    width: 100%;
    height: 100%;
    list-style: none;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    box-shadow: $shadow;
    display: grid;
    grid-template-rows: repeat(7, 40px);

    .RecommendationListItem{
        padding: 0 5%;
        line-height: 40px;
        
        span{
            align-self: center;
            font-weight: 600;
            color: $primary-color;
        }
        
    }
}
