@font-face {
    font-family: SpaceGrotesk;
    src: url('./SpaceGrotesk-Regular.woff');
}

*{
    font-family: SpaceGrotesk;

    user-select: none;
}

.App{
    display: grid;
    grid-template-rows: 100px 1fr;
}